/* Customizable */
:root {
  --chat-bubble-default: 0 0% 50%;
  --chat-bubble-replying: 180 100% 50%;
  --chat-bubble-mentioned: 39 100% 50%;
  --chat-bubble-automod: 0 100% 50%;
  --enable-chat-bubble-border: 1;
}

/* NOT Customizable */
:root {
  /* Chat bubbles requirements */
  --background-message-hover: none;
  --background-mentioned: none;
  --background-mentioned-hover: none;
  --background-message-highlight: none;
  --background-message-automod: none;
  --background-message-automod-hover: none;
  --info-warning-foreground: none;
}

/* [[ CHAT BUBBLES ]] */
.channelTextArea_c2094b {
  background: transparent;
}

.markup_a7e664.messageContent_abea64 a {
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: 600;
  padding: 0 4px;
  border-radius: 4px;
}

.groupStart__7b93c.cozyMessage__9f4fd
  > .contents_d3ae0d:hover
  .markup_a7e664.messageContent_abea64
  a,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d:hover
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *)
  a {
  background: var(--background-modifier-hover);
  text-decoration: none;
}

.groupStart__7b93c.cozyMessage__9f4fd > .contents_d3ae0d,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe) {
  margin: 2px 0;
  padding: 8px;
  border-radius: 8px;
  background: hsl(var(--chat-bubble-default) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-default));
  max-width: max-content;
  box-sizing: border-box;
}

.mediaAttachmentsContainer__242e2 {
  margin-bottom: 0 !important;
}

.altText_a57338 {
  margin: 8px 0 -4px;
}

.groupStart__7b93c.cozyMessage__9f4fd > .contents_d3ae0d:hover,
.cozyMessage__9f4fd:not(.groupStart__7b93c)
  > .contents_d3ae0d:hover
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe):hover {
  background: hsl(var(--chat-bubble-default) / 50%);
}

.groupStart__7b93c.cozyMessage__9f4fd.replying__38514 > .contents_d3ae0d,
.cozyMessage__9f4fd.replying__38514:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.replying__38514
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe) {
  background: hsl(var(--chat-bubble-replying) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-replying));
  border-radius: 8px;
  max-width: max-content;
}

.groupStart__7b93c.cozyMessage__9f4fd.replying__38514 > .contents_d3ae0d:hover,
.cozyMessage__9f4fd.replying__38514:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *):hover,
.replying__38514
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe):hover {
  background: hsl(var(--chat-bubble-replying) / 50%);
}

.groupStart__7b93c.cozyMessage__9f4fd.mentioned_fa6fd2 > .contents_d3ae0d,
.cozyMessage__9f4fd.mentioned_fa6fd2:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.mentioned_fa6fd2
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe) {
  background: hsl(var(--chat-bubble-mentioned) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-mentioned));
  border-radius: 8px;
}

.groupStart__7b93c.cozyMessage__9f4fd.mentioned_fa6fd2 > .contents_d3ae0d:hover,
.cozyMessage__9f4fd.mentioned_fa6fd2:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *):hover,
.mentioned_fa6fd2
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe):hover {
  background: hsl(var(--chat-bubble-mentioned) / 50%);
}

.groupStart__7b93c.cozyMessage__9f4fd.automodMessage__43f24 > .contents_d3ae0d,
.cozyMessage__9f4fd.automodMessage__43f24:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.automodMessage__43f24
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe) {
  background: hsl(var(--chat-bubble-automod) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-automod));
  border-radius: 8px;
}

.groupStart__7b93c.cozyMessage__9f4fd.automodMessage__43f24
  > .contents_d3ae0d:hover,
.cozyMessage__9f4fd.automodMessage__43f24:not(.groupStart__7b93c)
  > .contents_d3ae0d
  > .markup_a7e664:not(:empty, .searchResultsWrap__2e184 *):hover,
.automodMessage__43f24
  .container__62863
  > :not(.reactions_da5b2a, .searchResultsWrap__2e184 *, iframe):hover {
  background: hsl(var(--chat-bubble-automod) / 50%);
}

.automodMessage__43f24:before,
.replying__38514::before,
.mentioned_fa6fd2::before {
  display: none;
}

/* Message embeds (Vencord plugin) */
.grid__35551 {
  padding: 4px 8px 8px 6px;
}

.grid__35551 .embedAuthor__3e899 span {
  font-weight: bold;
}

.grid__35551 .message__7e601 {
  padding: 8px 0;
}

.grid__35551 .message__7e601 .avatar__08316 {
  margin: 0;
}

/* Spotify embeds */
.container__62863 > .embedSpotify__13fe9 {
  padding: 0;
  border-radius: 12px !important;
}

/* Fix avatar location */
.contents_d3ae0d [class^="avatar__"] {
  margin-top: -10px;
}

.contents_d3ae0d .avatarDecoration__8a0c2 {
  margin-top: -14px;
}
