/* [[ USER PANEL ]] */
[class^=nameTag_][class*=canCopy_] {
margin-left: 5px
}
.container_ca50b9 {
display: flex;
flex-direction: column;
height: fit-content;
gap: 0px;
padding: 0;
margin: 0;
background: transparent !important
}
.container_ca50b9>.avatarWrapper_ba5175 {
width: 100%;
height: 50px;
padding: 0 16px;
margin: 0;
box-sizing: border-box;
border-radius: unset
}
.panels__58331 .container_ca50b9 .flex_f5fbb7 {
width: 100%;
justify-content: center;
gap: 0px
}
.container_ca50b9 button {
background: transparent;
height: 40px;
width: 100%;
border-radius: unset;
box-sizing: border-box
}
:is(.container_ca50b9 button, .withTagAsButton_cc125f):hover {
background: var(--brand-experiment-700) !important
}
.container_ca50b9 .button_afdfd9:hover .contents_fb6220 {
color: var(--interactive-hover)
}
[class^=actionButtons_] {
display: flexbox;
order: -1;
box-sizing: border-box;
gap: 0;
padding-top: 0
}
[class^=actionButtons_] [class^=button_][class*=buttonColor_] {
height: 40px;
background: transparent
}
[class^=actionButtons_] [class^=button_][class*=buttonColor_]:hover {
background: var(--brand-experiment-700) !important
}
.panels__58331 {
display: flex;
flex-direction: column;
box-sizing: border-box;
overflow: hidden;
margin: 4px;
border-radius: 8px;
position: relative;
transition: background 250ms ease-in-out
}
body:has(.vc-spotify-pause) .panels__58331 {
background: color-mix(in srgb, var(--brand-experiment) 25%, rgba(0, 0, 0, 0.25)) !important
}
/* [[ SPOTIFY CONTROLS ]] */
#vc-spotify-player {
background: transparent !important;
border-bottom: none;
padding: 14px 12px
}
.vc-spotify-button-row {
margin-top: 15px
}
#vc-spotify-titles {
margin: 0 4px
}
#vc-spotify-song-title {
font-weight: 800
}
.vc-spotify-time-right,
.vc-spotify-time-left {
margin-top: 1px;
font-weight: 600;
letter-spacing: 0.05em
}
.vc-spotify-comma,
.vc-spotify-ellipoverflow,
.vc-spotify-artist,
.vc-spotify-album {
margin-top: -2px;
font-weight: 600
}
#vc-spotify-player [class*=bar_] {
background: var(--background-modifier-accent);
height: 4px
}
#vc-spotify-player [class*=barFill] {
background: var(--brand-experiment)
}
#vc-spotify-player .vc-spotify-repeat-off.vc-spotify-repeat-off.vc-spotify-repeat-off,
#vc-spotify-player .vc-spotify-shuffle-off.vc-spotify-shuffle-off.vc-spotify-shuffle-off {
color: var(--brand-experiment-300)
}
#vc-spotify-player .vc-spotify-button.vc-spotify-button:hover {
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent)
}
#vc-spotify-player .vc-spotify-button.vc-spotify-button {
color: var(--brand-experiment);
background: color-mix(in srgb, var(--brand-experiment) 25%, transparent);
margin: 0 4px;
scale: 0.85
}
#vc-spotify-player .vc-spotify-button.vc-spotify-button:hover {
color: var(--brand-experiment-300);
}
/* added in v2.0.0 */
#vc-spotify-info-wrapper {
flex-direction: row-reverse
}
#vc-spotify-player #vc-spotify-album-image {
margin-top: -4px;
border-radius: 8px
}
#vc-spotify-titles {
margin-left: 0;
padding-left: 0;
flex: 1 auto
}