/*
 * @name StaffTags
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Applies styling to different staff tags for easier identification.
 * @version 1.0.2
 * @authorId 518795791318384647
 * @discord seele1306
 */

:root {
  --owner-color: red;
  --admin-color: blue;
  --staff-color: purple;
  --mod-color: green;
}

/* [[ STAFF TAGS ]] */
[class*="botTag__"] {
  font-size: 12px;
  text-transform: none;
  top: 0.225rem;
  border-radius: 0.25rem !important;
  height: 0.875rem !important;

  &[data-tag="admin"] {
    background: var(--admin-color);
  }

  &[data-tag="owner"] {
    background: var(--owner-color);
  }

  &[data-tag="staff"] {
    background: var(--staff-color);
  }

  &[data-tag="mod"] {
    background: var(--mod-color);
  }

  & > [class*="botText__"] {
    line-height: 0.875rem !important;
    font-weight: 600;
  }
}
