:is(main,section)[class^=chatContent] .form-3gdLxP {
	padding: 20px 0;
	right: 18px;
}
:is(main,section)[class^=chatContent] .scrollableContainer-15eg7h {
	max-width: 100%;
	padding-top: 4px;
	margin: -16px 0 16px;
	background: transparent;
	border-radius: 8px;
}
.channelTextArea-1FufC0 .divider-2rZFJK {
	border-top: none;
}
.channelAttachmentArea-HwpkuQ {
	background: var(--background-tertiary);
	border-radius: 8px;
	margin: 0 0 0.5em 2.125em;
	padding: 0.5em;
	gap: 8px
}
.upload-vLbqu- {
	min-height: 150px;
	max-height: 150px;
	min-width: 150px;
	max-width: 150px;
}
.actionBar-1ozugS {
	transform: translate(0, 0);
}
.autocomplete-3jLKbj {
	margin: 0 0.625em -0.25em 2.125em;
	border-radius: 8px;
}
.attachButton-1ijpt9 {
	margin-left: 0;
	padding: 0.5em;
}
.attachWrapper-3slhXI {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--bg-overlay-4,var(--background-modifier-accent));
	border-radius: 8px;
	width: 36px;
	max-height: 30px;
}
.attachButton-_ACFSu {
	position: relative;
	height: 30px;
}	
.slateTextArea-27tjG0 {
	padding-left: 10px;
}
.form-3gdLxP .innerDisabled-2dbG11.sansAttachButton-1ERHue {
	padding-left: 16px;
}
.form-3gdLxP .textArea-2CLwUE,.form-3gdLxP .textArea-2CLwUE>div {
	height: fit-content;
	min-height: 64px;
}
.form-3gdLxP:not(:has(.attachButton-1ijpt9)) .textArea-2CLwUE>div {
	left: 36px;
}
.form-3gdLxP .form-3gdLxP .textArea-2CLwUE>div {
	position: absolute;
	background: var(--background-tertiary);
	border-radius: 8px;
	left: 0;
	right: 4px;
	bottom: 0;
}
.form-3gdLxP .buttons-uaqb-5 {
	background: transparent;
	border-radius: 8px;
	display: contents;
}
.form-3gdLxP .buttons-uaqb-5>:is(button,div) {
	background: var(--background-modifier-accent);
	max-height: 30px;
	width: 36px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
}
.form-3gdLxP .buttons-uaqb-5 button[style="padding: 0px 2px; height: 100%;"] img[src="https://discord.com/assets/4c5a77a89716352686f590a6f014770c.svg"] {
	content: url("https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=48&name=shiggy%7E1&quality=lossless");
	padding: 0 4px
}
.form-3gdLxP .inner-NQg18Y.sansAttachButton-1ERHue {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
    gap: 4px;
}
.form-3gdLxP .textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil {
    grid-row: 1/3;
    grid-column: 1;
}
.separator-3ng7S5 {
	grid-row: 1/3;
	grid-column: 7;
	min-height: 64px;
	margin-left: 4px;
}
.uploadInput-YH_iku {
    display: none;
    /*if this is deleted there will be a blank box*/
}
.innerButton-1aF_E_ {
	margin: 0;
}
.contents-2MsGLg .scrollableContainer-15eg7h {
	margin: 12px 0 !important
}
:is(main,section)[class^=chatContent] .scroller-18M1mG {
	background: var(--background-tertiary)
}
.contentTitle-3CylD3 {
	padding: 0.25em 0.5em;
	text-transform: none;
	font-size: 14px
}
.channelTextArea-1VQBuV>[class*=channelTextAreaInner-][class*=scrollableContainer-]{
	background: var(--background-primary-alt);
	border-radius: 8px;
	margin-bottom: 1em
}
.button-2fCJ0o:hover {
	color: var(--interactive-hover) !important
}
:is(.form-3gdLxP .textArea-2CLwUE>div, .attachWrapper-3slhXI,.form-3gdLxP .buttons-uaqb-5>:is(button,div), .inner-1NoIT5, .searchBar-jGtisZ):is(:hover,:focus-within) {
	background: var(--background-modifier-hover);
	opacity: 1;
}
:is(main,section)[class^=chatContent] .typing-2J1mQU {
	padding-left: 20px;
	padding-bottom: 6px;
	font-weight: 1000
}
main[class^=chatContent] [class^=attachedBars] {
	min-height: unset !important;
	position: relative;
	padding-bottom: 4px;
	margin: 0 8px 20px 36px !important;
	border-radius: 8px;
	z-index: 0
}
.replyBar-1oi75v {
	background-color: transparent
}
[class^=jumpToPresentBar] {
	margin: 0 26px -16px 0;
	right: unset;
	background-color: unset
}
.barButtonBase-Sk2mdB {
	color: var(--text-normal);
	background-color: var(--background-tertiary);
	border-radius: calc(8px/1.5);
	padding-right: 8px;
	margin: 0px 8px 16px 0
}
.barButtonBase-Sk2mdB:hover {
	background-color: var(--background-floating)
}
.newMessagesBar-1hF-9G {
	background: transparent;
	margin: 0 5em 0 0.25em;
	top: 96.67%;
	box-shadow: none;
}
.barButtonAlt-TQoCdZ {
	margin-right: 45%;
}
:root :is(main,section)[class^=chatContent] .typing-2J1mQU {
	right: unset;
	left: 10px
}
:root [class^=jumpToPresentBar] {
	left: unset;
	right: 0;
	border-top-right-radius: unset;
	border-top-left-radius: unset
}
.form-3gdLxP:has(.attachWrapper-3slhXI, .attachButton-1ijpt9) .sansAttachButton-1ERHue {
	padding-left: 32px
}
.form-3gdLxP:not(:has(.attachWrapper-3slhXI, .attachButton-1ijpt9)) .sansAttachButton-1ERHue,
.form-3gdLxP .innerDisabled-2dbG11.sansAttachButton-1ERHue {
	padding-left: 0 !important
}
.attachButton-1ijpt9:not(:has(.icon-2P5yLI)) {
	margin-left: 0;
	padding: 0.5em
}
.icon-2P5yLI {
	padding: 0;
	margin: 0 0 0 1em;
	border-radius: 8px;
	height: 30px;
	width: 36px;
	background: var(--background-modifier-accent);
	display: flex;
	justify-content: center;
}
.icon-1kx1ir {
	padding-top: 3px;
}