/*
 * @name MessageSection-v2
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Aligns the "Message Section" better and hides its icons a hover menu
 * @version 2.0.5
 * @authorId 518795791318384647
 * @discord seele1306
 */
/* [[ CHAT AREA ]] */
.form_a7d72e {
  margin-top: 0;
  padding: 0;
  /* Align chat box to bottom */
}

.form_a7d72e > .channelTextAreaContainer_d0696b {
  margin-bottom: 0px;
}

.form_a7d72e > .channelTextAreaContainer_d0696b > .channelTextArea_a7d72e {
  margin-bottom: 0px;
}

.form_a7d72e
  > .channelTextAreaContainer_d0696b
  > .channelTextArea_a7d72e
  > .scrollableContainer_d0696b {
  margin: 0 8px 8px 8px;
  /* center chatbox contents, no border radius */
}

.form_a7d72e > .channelTextAreaContainer_d0696b > * {
  min-height: 49px;
  border-radius: 0;
  padding-top: 4px;
}

.form_a7d72e > .channelTextAreaContainer_d0696b > .content_faf5ab > img {
  margin-bottom: 8px;
  /* Slowmode/typing indicators */
}

.form_a7d72e > :last-child[class^="typing"] {
  top: -32px;
  right: 24px;
  padding: 0px 16px 0px 8px;
  margin-left: auto;
  width: fit-content;
  border-radius: 4px;
  background: var(--background-tertiary);
}

.form_a7d72e .buttons_d0696b {
  overflow: hidden;
  position: relative;
  justify-content: flex-end;
  transition: all 350ms;
  margin-right: 4px;
}

.form_a7d72e .buttons_d0696b::before {
  opacity: 0%;
  transition: opacity 150ms;
  position: absolute;
  bottom: 4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
  display: block;
  width: 32px;
}

.form_a7d72e .buttons_d0696b:hover {
  transition: all 150ms;
  width: 50%;
}

.form_a7d72e .buttons_d0696b:hover > :is(button, div) {
  transform: scaleX(100%) !important;
  transition: opacity 300ms;
  opacity: 100%;
}

.form_a7d72e .buttons_d0696b > :is(button, div) {
  display: flex;
  justify-content: center;
  transform: scaleX(0%) !important;
  opacity: 0%;
}

.form_a7d72e .buttons_d0696b > :is(button, div) svg {
  border-radius: 4px;
}

.form_a7d72e .buttons_d0696b > :is(button, div):hover svg {
  color: var(--interactive-hover);
}

.form_a7d72e .buttons_d0696b:where(:not(:hover)) {
  max-width: 32px;
}

.form_a7d72e .buttons_d0696b:where(:not(:hover))::before {
  opacity: 100%;
  transition: opacity 1000ms;
}

.separator_a06035 {
  grid-column: 4;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.separator_a06035 .innerButton_a06035 {
  padding: 0;
  margin: 0;
}

.channelTextArea_a7d72e .divider_c2654d {
  border-top: none;
}

.channelAttachmentArea_e8c527 {
  background: var(--background-tertiary);
  margin: 4px 8px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  width: fit-content;
}

.upload_df1eaf {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.actionBar_df1eaf {
  transform: translate(0, -16px);
}

.actionBar_df1eaf .button_ef319f {
  background: var(--background-tertiary);
}

/* jump to present */
.jumpToPresentBar_cf58b5 {
  padding: 0;
  left: 0;
  border-radius: 4px;
  margin: 8px;
  width: fit-content !important;
  background: var(--background-tertiary);
  right: unset;
}

.jumpToPresentBar_cf58b5:active {
  margin-bottom: 8px;
}

.jumpToPresentBar_cf58b5 > .barButtonMain_cf58b5 {
  flex: 0 0 auto;
}

.jumpToPresentBar_cf58b5:hover .barButtonMain_cf58b5 {
  animation: vertiscroll 0.5s linear forwards;
  display: block;
  height: auto;
  overflow: visible;
  white-space: normal;
}

.attachedBars_d0696b {
  min-height: unset !important;
  position: relative;
  margin: 0px 24px 4px 4px;
  padding: 4px 0;
  border-radius: 4px !important;
  background: var(--background-tertiary);
}

.replyBar_b11c5e {
  background: var(--background-tertiary);
}

/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase_cf58b5 {
  --bar-height: 24px;
  --bar-edges: 24px;
}

.messagesWrapper_e2e187:has(.newMessagesBar_cf58b5):has(
    .jumpToPresentBar_cf58b5
  )
  .barBase_cf58b5 {
  align-items: flex-start;
  height: var(--bar-height);
  overflow: hidden;
  width: calc(50% - var(--bar-edges));
}

.messagesWrapper_e2e187:has(.jumpToPresentBar_cf58b5) .newMessagesBar_cf58b5 {
  left: auto;
}

.base_d7ebeb .typingDots_d7ebeb svg {
  margin-right: 4px;
}

.newMessagesBar_cf58b5 {
  height: 24px;
  margin-bottom: 8px;
  margin-left: calc(var(--bar-edges) * -1 + 8px);
  border-radius: 4px;
  inset: auto var(--bar-edges) 0;
  background: var(--background-tertiary);
}

.newMessagesBar_cf58b5:hover .span_cf58b5 {
  animation: vertiscroll 0.5s linear forwards;
  display: block;
  height: auto;
  overflow: visible;
  white-space: normal;
}

@keyframes vertiscroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% + var(--bar-height)));
  }
}

.themedBackground_d0696b {
  background: var(--background-primary);
}
