/*
 * @name MessageSection-v2
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Aligns the "Message Section" better and hides its icons a hover menu
 * @version 2.0.7
 * @authorId 518795791318384647
 * @discord seele1306
 */
/* [[ CHAT AREA ]] */
.form_f75fb0 {
  margin-top: 0;
  padding: 0;
  /* Align chat box to bottom */
}

.form_f75fb0 > .channelTextAreaContainer_d0696b {
  margin-bottom: 0px;
}

.form_f75fb0 > .channelTextAreaContainer_d0696b > .channelTextArea_f75fb0 {
  margin-bottom: 0px;
}

.form_f75fb0
  > .channelTextAreaContainer_d0696b
  > .channelTextArea_f75fb0
  > .scrollableContainer__74017 {
  margin: 0 8px 8px 8px;
  /* center chatbox contents, no border radius */
}

.form_f75fb0 > .channelTextAreaContainer_d0696b > * {
  min-height: 49px;
  border-radius: 0;
  padding-top: 4px;
}

.form_f75fb0 > .channelTextAreaContainer_d0696b > .content__44df5 > img {
  margin-bottom: 8px;
  /* Slowmode/typing indicators */
}

.form_f75fb0 > :last-child[class^="typing"] {
  top: -32px;
  right: 24px;
  padding: 0px 16px 0px 8px;
  margin-left: auto;
  width: fit-content;
  border-radius: 4px;
  background: var(--background-tertiary);
}

.form_f75fb0 .buttons__74017 {
  overflow: hidden;
  position: relative;
  justify-content: flex-end;
  transition: all 350ms;
  margin-right: 4px;
}

.form_f75fb0 .buttons__74017::before {
  opacity: 0%;
  transition: opacity 150ms;
  position: absolute;
  bottom: 4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
  display: block;
  width: 32px;
}

.form_f75fb0 .buttons__74017:hover {
  transition: all 150ms;
  width: 50%;
}

.form_f75fb0 .buttons__74017:hover > :is(button, div) {
  transform: scaleX(100%) !important;
  transition: opacity 300ms;
  opacity: 100%;
}

.form_f75fb0 .buttons__74017 > :is(button, div) {
  display: flex;
  justify-content: center;
  transform: scaleX(0%) !important;
  opacity: 0%;
}

.form_f75fb0 .buttons__74017 > :is(button, div) svg {
  border-radius: 4px;
}

.form_f75fb0 .buttons__74017 > :is(button, div):hover svg {
  color: var(--interactive-hover);
}

.form_f75fb0 .buttons__74017:where(:not(:hover)) {
  max-width: 32px;
}

.form_f75fb0 .buttons__74017:where(:not(:hover))::before {
  opacity: 100%;
  transition: opacity 1000ms;
}

.separator_aa63ab {
  grid-column: 4;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.separator_aa63ab .innerButton_aa63ab {
  padding: 0;
  margin: 0;
}

.channelTextArea_f75fb0 .divider__908e2 {
  border-top: none;
}

.channelAttachmentArea_b77158 {
  background: var(--background-tertiary);
  margin: 4px 8px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  width: fit-content;
}

.upload_aa605f {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.actionBar_aa605f {
  transform: translate(0, -16px);
}

.actionBar_aa605f .button_f7ecac {
  background: var(--background-tertiary);
}

/* jump to present */
.jumpToPresentBar__0f481 {
  padding: 0;
  left: 0;
  border-radius: 4px;
  margin: 8px;
  width: fit-content !important;
  background: var(--background-tertiary);
  right: unset;
}

.jumpToPresentBar__0f481:active {
  margin-bottom: 8px;
}

.jumpToPresentBar__0f481 > .barButtonMain__0f481 {
  flex: 0 0 auto;
}

.jumpToPresentBar__0f481:hover .barButtonMain__0f481 {
  animation: vertiscroll 0.5s linear forwards;
  display: block;
  height: auto;
  overflow: visible;
  white-space: normal;
}

.stackedBars__74017 {
  min-height: unset !important;
  position: relative;
  margin: 0px 24px 4px 4px;
  padding: 4px 0;
  border-radius: 4px !important;
  background: var(--background-tertiary);
}

.replyBar__841c8 {
  background: var(--background-tertiary);
}

/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase__0f481 {
  --bar-height: 24px;
  --bar-edges: 24px;
}

.messagesWrapper__36d07:has(.newMessagesBar__0f481):has(
    .jumpToPresentBar__0f481
  )
  .barBase__0f481 {
  align-items: flex-start;
  height: var(--bar-height);
  overflow: hidden;
  width: calc(50% - var(--bar-edges));
}

.messagesWrapper__36d07:has(.jumpToPresentBar__0f481) .newMessagesBar__0f481 {
  left: auto;
}

.base_b88801 .typingDots_b88801 svg {
  margin-right: 4px;
}

.newMessagesBar__0f481 {
  height: 24px;
  margin-bottom: 8px;
  margin-left: calc(var(--bar-edges) * -1 + 8px);
  border-radius: 4px;
  inset: auto var(--bar-edges) 0;
  background: var(--background-tertiary);
}

.newMessagesBar__0f481:hover .span__0f481 {
  animation: vertiscroll 0.5s linear forwards;
  display: block;
  height: auto;
  overflow: visible;
  white-space: normal;
}

@keyframes vertiscroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% + var(--bar-height)));
  }
}

.themedBackground__74017 {
  background: var(--background-primary);
}
