/*
 * @name UserPanel
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Replaces the user panel with a customizable, more appealing version.
 * @version 2.0.0
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* [[ USER PANEL ]] */
[class^="nameTag_"][class*="canCopy_"] {
  margin-left: 5px;
}

.container_b2ca13 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0px;
  padding: 0;
  margin: 0;
  background: transparent !important;

  & > .avatarWrapper_b2ca13 {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin: 0;
    box-sizing: border-box;
    border-radius: unset;
  }

  & button {
    background: transparent;
    height: 40px;
    width: 100%;
    border-radius: unset;
    box-sizing: border-box;

    &:hover {
      background: var(--brand-700) !important;
    }
  }

  & .flex_dc333f {
    width: 100%;
    justify-content: center;
    gap: 0px;
  }

  & .button_dd4f85:hover .contents_dd4f85 {
    color: var(--interactive-hover);
  }
}

[class^="actionButtons_"] {
  display: flexbox;
  order: -1;
  box-sizing: border-box;
  gap: 0;
  padding-top: 0;

  & [class^="button_"][class*="buttonColor_"] {
    height: 40px;
    background: transparent;

    &:hover {
      background: var(--brand-700) !important;
    }
  }
}

.panels_a4d4d9 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  transition: background 250ms ease-in-out;
}

body:has(.vc-spotify-pause) .panels_a4d4d9 {
  background: color-mix(
    in srgb,
    var(--brand-500) 25%,
    rgba(0, 0, 0, 0.25)
  ) !important;
}

/* [[ SPOTIFY CONTROLS ]] */
#vc-spotify-player {
  background: transparent !important;
  border-bottom: none;
  padding: 14px 12px;

  & [class*="bar_"] {
    background: var(--background-modifier-accent);
    height: 4px;
  }

  & [class*="barFill"] {
    background: var(--brand-500);
  }

  & :is(.vc-spotify-shuffle-off, .vc-spotify-repeat-off) {
    color: var(--brand-300) !important;
  }

  & .vc-spotify-button.vc-spotify-button {
    color: var(--brand-500);
    background: color-mix(in srgb, var(--brand-500) 25%, transparent);
    margin: 0 4px;
    scale: 0.85;

    &:hover {
      background: color-mix(in srgb, var(--brand-500) 50%, transparent);
      color: var(--brand-300);
    }
  }

  & .vc-spotify-button-row {
    margin-top: 15px;
  }

  & :is(.vc-spotify-time-right, .vc-spotify-time-left) {
    margin-top: 1px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &
    :is(
      .vc-spotify-comma,
      .vc-spotify-ellipoverflow,
      .vc-spotify-artist,
      .vc-spotify-album
    ) {
    margin-top: -2px;
    font-weight: 600;
  }

  & #vc-spotify-album-image {
    margin-top: -4px;
    border-radius: 8px;
  }

  & #vc-spotify-titles {
    margin-left: 0;
    padding-left: 0;
    flex: 1 auto;
  }
}

#vc-spotify-song-title {
  font-weight: 800;
}

#vc-spotify-info-wrapper {
  flex-direction: row-reverse;
}
