/* [[ USER PANEL ]] */
[class^="nameTag_"][class*="canCopy_"] {
  margin-left: 5px;
}

.container_debb33 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0px;
  padding: 0;
  margin: 0;
  background: transparent !important;
}

.container_debb33 > .avatarWrapper__500a6 {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: unset;
}

.panels__58331 .container_debb33 .flex_f18b02 {
  width: 100%;
  justify-content: center;
  gap: 0px;
}

.container_debb33 button {
  background: transparent;
  height: 40px;
  width: 100%;
  border-radius: unset;
  box-sizing: border-box;
}

:is(.container_debb33 button, .withTagAsButton_e22174):hover {
  background: var(--brand-experiment-700) !important;
}

.container_debb33 .button__581d0:hover .contents__322f4 {
  color: var(--interactive-hover);
}

[class^="actionButtons_"] {
  display: flexbox;
  order: -1;
  box-sizing: border-box;
  gap: 0;
  padding-top: 0;
}

[class^="actionButtons_"] [class^="button_"][class*="buttonColor_"] {
  height: 40px;
  background: transparent;
}

[class^="actionButtons_"] [class^="button_"][class*="buttonColor_"]:hover {
  background: var(--brand-experiment-700) !important;
}

.panels__58331 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  transition: background 250ms ease-in-out;
}

body:has(.vc-spotify-pause) .panels__58331 {
  background: var(--brand-experiment-25a) !important;
}

/* [[ SPOTIFY CONTROLS ]] */
#vc-spotify-player {
  background: transparent !important;
  border-bottom: none;
  padding: 14px 12px;
}

.vc-spotify-button-row {
  margin-top: 15px;
}

#vc-spotify-titles {
  margin: 0 4px;
}

#vc-spotify-song-title {
  font-weight: 800;
}

.vc-spotify-time-right,
.vc-spotify-time-left {
  margin-top: 1px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.vc-spotify-comma,
.vc-spotify-ellipoverflow,
.vc-spotify-artist,
.vc-spotify-album {
  margin-top: -2px;
  font-weight: 600;
}

#vc-spotify-player [class*="bar_"] {
  background: var(--background-modifier-accent);
  height: 4px;
}

#vc-spotify-player [class*="barFill"] {
  background: var(--brand-experiment);
}

#vc-spotify-player
  .vc-spotify-repeat-off.vc-spotify-repeat-off.vc-spotify-repeat-off,
#vc-spotify-player
  .vc-spotify-shuffle-off.vc-spotify-shuffle-off.vc-spotify-shuffle-off {
  color: var(--brand-experiment-300);
}

#vc-spotify-player .vc-spotify-button.vc-spotify-button:hover {
  background: var(--brand-experiment-50a);
}

#vc-spotify-player .vc-spotify-button.vc-spotify-button {
  color: var(--brand-experiment);
  background: var(--brand-experiment-25a);
  margin: 0 4px;
  scale: 0.85;
}

#vc-spotify-player .vc-spotify-button.vc-spotify-button:hover {
  color: var(--brand-experiment-300);
}

#vc-spotify-info-wrapper {
  flex-direction: row-reverse;
}

#vc-spotify-player #vc-spotify-album-image {
  margin-top: -4px;
  border-radius: 8px;
}

#vc-spotify-titles {
  margin-left: 0;
  padding-left: 0;
  flex: 1 auto;
}
