:root {
  --brand-experiment-h: 249;
  --brand-experiment-s: 22%;
  --brand-experiment-l: 50%;
}
:root,
.theme-dark {
  /* New brand variables */
  --brand-experiment-100: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (97.6% - 32.5%)) / 100%
  );
  --brand-experiment-130: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (95.5% - 32.5%)) / 100%
  );
  --brand-experiment-160: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (92.9% - 32.5%)) / 100%
  );
  --brand-experiment-200: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (90% - 32.5%)) / 100%
  );
  --brand-experiment-230: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (87.1% - 32.5%)) / 100%
  );
  --brand-experiment-260: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (83.7% - 32.5%)) / 100%
  );
  --brand-experiment-300: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (78.8% - 32.5%)) / 100%
  );
  --brand-experiment-330: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (73.3% - 32.5%)) / 100%
  );
  --brand-experiment-345: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (67.5% - 32.5%)) / 100%
  );
  --brand-experiment-360: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (61.2% - 32.5%)) / 100%
  );
  --brand-experiment-400: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (52.9% - 32.5%)) / 100%
  );
  --brand-experiment-430: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (44.9% - 32.5%)) / 100%
  );
  --brand-experiment-460: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (38% - 32.5%)) / 100%
  );
  --brand-experiment-500: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 100%
  );
  --brand-experiment-530: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (38% - 32.5%)) / 100%
  );
  --brand-experiment-560: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (44.9% - 32.5%)) / 100%
  );
  --brand-experiment-600: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (52.9% - 32.5%)) / 100%
  );
  --brand-experiment-630: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (61.2% - 32.5%)) / 100%
  );
  --brand-experiment-645: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (67.5% - 32.5%)) / 100%
  );
  --brand-experiment-660: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (73.3% - 32.5%)) / 100%
  );
  --brand-experiment-700: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (78.8% - 32.5%)) / 100%
  );
  --brand-experiment-730: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (83.7% - 32.5%)) / 100%
  );
  --brand-experiment-760: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (87.1% - 32.5%)) / 100%
  );
  --brand-experiment-800: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (90% - 32.5%)) / 100%
  );
  --brand-experiment-830: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (92.9% - 32.5%)) / 100%
  );
  --brand-experiment-860: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (95.5% - 32.5%)) / 100%
  );
  --brand-experiment-900: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) - (97.6% - 32.5%)) / 100%
  );
  --brand-experiment: var(--brand-experiment-500);

  /* Opaque brand variables */
  --brand-experiment-05a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 05%
  );
  --brand-experiment-10a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 10%
  );
  --brand-experiment-15a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 15%
  );
  --brand-experiment-20a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 20%
  );
  --brand-experiment-25a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 25%
  );
  --brand-experiment-30a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 30%
  );
  --brand-experiment-35a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 35%
  );
  --brand-experiment-40a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 40%
  );
  --brand-experiment-45a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 45%
  );
  --brand-experiment-50a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 50%
  );
  --brand-experiment-55a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 55%
  );
  --brand-experiment-60a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 60%
  );
  --brand-experiment-65a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 65%
  );
  --brand-experiment-70a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 70%
  );
  --brand-experiment-75a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 75%
  );
  --brand-experiment-80a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 80%
  );
  --brand-experiment-85a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 85%
  );
  --brand-experiment-90a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 90%
  );
  --brand-experiment-95a: hsl(
    var(--brand-experiment-h) var(--brand-experiment-s)
      calc(var(--brand-experiment-l) + (32.5% - 32.5%)) / 95%
  );

  /* Old brand varibales */
  --brand-100: var(--brand-experiment-100);
  --brand-130: var(--brand-experiment-130);
  --brand-160: var(--brand-experiment-160);
  --brand-200: var(--brand-experiment-200);
  --brand-230: var(--brand-experiment-230);
  --brand-260: var(--brand-experiment-260);
  --brand-300: var(--brand-experiment-300);
  --brand-330: var(--brand-experiment-330);
  --brand-345: var(--brand-experiment-345);
  --brand-360: var(--brand-experiment-360);
  --brand-400: var(--brand-experiment-400);
  --brand-430: var(--brand-experiment-430);
  --brand-460: var(--brand-experiment-460);
  --brand-500: var(--brand-experiment-500);
  --brand-530: var(--brand-experiment-530);
  --brand-560: var(--brand-experiment-560);
  --brand-600: var(--brand-experiment-600);
  --brand-630: var(--brand-experiment-630);
  --brand-645: var(--brand-experiment-645);
  --brand-660: var(--brand-experiment-660);
  --brand-700: var(--brand-experiment-700);
  --brand-730: var(--brand-experiment-730);
  --brand-760: var(--brand-experiment-760);
  --brand-800: var(--brand-experiment-800);
  --brand-830: var(--brand-experiment-830);
  --brand-860: var(--brand-experiment-860);
  --brand-900: var(--brand-experiment-900);

  --text-brand: var(--brand-experiment);
  --mention-background: var(--brand-experiment-30a);

  /* Scrollbars */
  --scrollbar-auto-thumb: var(--brand-experiment);
  --scrollbar-auto-track: var(--brand-experiment-25a);
  --scrollbar-thin-thumb: var(--brand-experiment);
  --scrollbar-thin-track: transparent;
}
