/* [[ GUILD BOOSTS ]] */
.textArea_f2029c {
padding: 0 8px
}
.progressBar_db0972,
.progressBarContainer__9b571 {
height: 40px;
border-radius: 8px
}
.container__4f639,
.containerWithMargin__7d380 {
position: relative;
top: 25px;
margin: 0;
padding: 0;
width: 105%
}
.tadaIcon__3b97b {
right: 98%;
top: 6px;
translate: none;
font-size: 36px;
opacity: 0.5
}
.progressBarContainer__9b571 {
top: -40px;
z-index: -1
}
.progressBar_db0972 {
background: color-mix(in srgb, var(--brand-experiment) 50%, transparent)
}
.container__4f639:hover .progressBar_db0972 {
animation: 5s flicker linear infinite;
background: color-mix(in srgb, var(--brand-experiment) 75%, transparent)
}
.container__4f639:hover .tadaIcon__3b97b {
animation: 3s flicker linear infinite
}
@keyframes flicker {
0% {
opacity: 1
}
50% {
opacity: 0.5
}
100% {
opacity: 1
}
}