/*
 * @name MessageTypes_DE
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Includes the message types & actions with the username
 * @version 1.0.6
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* Message types (GERMAN) */
/* Removes the edited sign */
.edited_c19a55 {
  font-size: 0;
}

.contents_c19a55 .username_c19a55::after {
  content: " hat geschrieben:";
}

.message__5126c:has(.edited_c19a55) .contents_c19a55 .username_c19a55::after {
  content: " hat geschrieben und bearbeitet:";
}

.message__5126c:has(.mediaAttachmentsContainer__242e2, .embed__623de)
  .contents_c19a55
  .username_c19a55::after {
  content: " hat Anhänge gesendet:";
}

.message__5126c:has(.stickerAsset__31fc2)
  .contents_c19a55
  .username_c19a55::after {
  content: " hat einen Sticker gesendet:";
}

.message__5126c:has(.emoji.jumboable) .contents_c19a55 .username_c19a55::after {
  content: " hat Emojis gesendet:";
}

.hasReply_c19a55 .contents_c19a55 .username_c19a55::after {
  content: " hat geantwortet:";
}

.message__5126c.hasReply_c19a55:has(.edited_c19a55)
  .contents_c19a55
  .username_c19a55::after {
  content: " hat geantwortet und bearbeitet:";
}

.mentioned__5126c .contents_c19a55 .username_c19a55::after {
  content: " hat dir erwähnt:";
}

.mentioned__5126c:has(.edited_c19a55) .contents_c19a55 .username_c19a55::after {
  content: " hat dir erwähnt und bearbeitet:";
}

/* Add color to extra elements */
.username_c19a55::after {
  color: var(--text-muted);
}
