/*
 * @name MessageTypes_EN
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Includes the message types & actions with the username
 * @version 1.0.6
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* Message types (ENGLISH) */
/* Removes the edited sign */
.edited_c19a55 {
  font-size: 0;
}

.contents_c19a55 .username_c19a55::after {
  content: " wrote:";
}

.message__5126c:has(.edited_c19a55) .contents_c19a55 .username_c19a55::after {
  content: " wrote and edited:";
}

.message__5126c:has(.mediaAttachmentsContainer__242e2, .embed__623de)
  .contents_c19a55
  .username_c19a55::after {
  content: " sent attachment(s):";
}

.message__5126c:has(.stickerAsset__31fc2)
  .contents_c19a55
  .username_c19a55::after {
  content: " sent a sticker:";
}

.message__5126c:has(.emoji.jumboable) .contents_c19a55 .username_c19a55::after {
  content: " sent emoji(s):";
}

.hasReply_c19a55 .contents_c19a55 .username_c19a55::after {
  content: " replied:";
}

.message__5126c.hasReply_c19a55:has(.edited_c19a55)
  .contents_c19a55
  .username_c19a55::after {
  content: " replied and edited:";
}

.mentioned__5126c .contents_c19a55 .username_c19a55::after {
  content: " mentioned:";
}

.mentioned__5126c:has(.edited_c19a55) .contents_c19a55 .username_c19a55::after {
  content: " mentioned and edited:";
}

/* Add color to extra elements */
.username_c19a55::after {
  color: var(--text-muted);
}
