/*
 * @name MessageTypes_DE
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Includes the message types & actions with the username
 * @version 1.0.5
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* Message types (GERMAN) */
/* Removes the edited sign */
.edited_f9f2ca {
  font-size: 0;
}

.contents_f9f2ca .username_f9f2ca::after {
  content: " hat geschrieben:";
}

.message_d5deea:has(.edited_f9f2ca) .contents_f9f2ca .username_f9f2ca::after {
  content: " hat geschrieben und bearbeitet:";
}

.message_d5deea:has(.mediaAttachmentsContainer__242e2, .embed_b0068a)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " hat Anhänge gesendet:";
}

.message_d5deea:has(.stickerAsset_cb3343)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " hat einen Sticker gesendet:";
}

.message_d5deea:has(.emoji.jumboable) .contents_f9f2ca .username_f9f2ca::after {
  content: " hat Emojis gesendet:";
}

.hasReply_f9f2ca .contents_f9f2ca .username_f9f2ca::after {
  content: " hat geantwortet:";
}

.message_d5deea.hasReply_f9f2ca:has(.edited_f9f2ca)
  .contents_f9f2ca
  .username_f9f2ca::after {
  content: " hat geantwortet und bearbeitet:";
}

.mentioned_d5deea .contents_f9f2ca .username_f9f2ca::after {
  content: " hat dir erwähnt:";
}

.mentioned_d5deea:has(.edited_f9f2ca) .contents_f9f2ca .username_f9f2ca::after {
  content: " hat dir erwähnt und bearbeitet:";
}

/* Add color to extra elements */
.username_f9f2ca::after {
  color: var(--text-muted);
}
