/*
 * @name MessageTypes_EN
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Includes the message types & actions with the username
 * @version 1.0.1
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* Message types (ENGLISH) */
/* Removes the edited sign */
.edited_b20dd9 {
  font-size: 0;
}

.contents_f41bb2 .username_d30d99::after {
  content: " wrote:";
}

.message__80c10:has(.edited_b20dd9) .contents_f41bb2 .username_d30d99::after {
  content: " wrote and edited:";
}

.message__80c10:has(.mediaAttachmentsContainer_edba75, .embed_d3cbe3)
  .contents_f41bb2
  .username_d30d99::after {
  content: " sent attachment(s):";
}

.message__80c10:has(.stickerAsset__00e6b)
  .contents_f41bb2
  .username_d30d99::after {
  content: " sent a sticker:";
}

.message__80c10:has(.emoji.jumboable) .contents_f41bb2 .username_d30d99::after {
  content: " sent emoji(s):";
}

.hasReply_febd50 .contents_f41bb2 .username_d30d99::after {
  content: " replied:";
}

.message__80c10.hasReply_febd50:has(.edited_b20dd9)
  .contents_f41bb2
  .username_d30d99::after {
  content: " replied and edited:";
}

.mentioned__58017 .contents_f41bb2 .username_d30d99::after {
  content: " mentioned:";
}

.mentioned__58017:has(.edited_b20dd9) .contents_f41bb2 .username_d30d99::after {
  content: " mentioned and edited:";
}

/* Add color to extra elements */
.username_d30d99::after {
  color: var(--text-muted);
}
