/*
 * @name UserOptions
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Replaces the profile popout with more streamlined options
 * @version 1.0.2
 * @authorId 518795791318384647
 * @discord seele1306
 */

[class^="accountProfilePopoutWrapper"] .section_d7a21f,
.userPopoutInner_c69a7b:has(#account) > *:not(:has(#account)),
.userPopoutOverlayBackground_c69a7b:has(#account) > *:not(#account) {
  display: none !important;
}

[class^="accountProfilePopoutWrapper_"] {
  left: 0;
}

[class^="accountProfilePopoutWrapper_"] [class*="userPopout"] {
  margin: 0;
  width: fit-content;
}
