:is(main, section)[class^="chatContent"] .form_d8a4a1 {
  padding: 20px 0;
  right: 18px;
}
:is(main, section)[class^="chatContent"] .scrollableContainer_ff917f {
  max-width: 100%;
  padding-top: 4px;
  margin: -16px 0 16px;
  background: transparent;
  border-radius: 8px;
}
.channelTextArea_c2094b .divider__855e3 {
  border-top: none;
}
.channelAttachmentArea__5e46a {
  background: var(--background-tertiary);
  border-radius: 8px;
  margin: 0 0 0.5em 2.125em;
  padding: 0.5em;
  gap: 8px;
}
.upload_c98ecb {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}
.actionBar_a15295 {
  transform: translate(0, 0);
}
.autocomplete__2e602 {
  margin: 0 0.625em -0.25em 2.125em;
  border-radius: 8px;
}
.attachButton__5f6dc {
  margin-left: 0;
  padding: 0.5em;
}
.attachWrapper_d01704 {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--bg-overlay-4, var(--background-modifier-accent));
  border-radius: 8px;
  width: 36px;
  max-height: 30px;
}
.attachButton__56f98 {
  position: relative;
  height: 30px;
}
.slateTextArea_b19976 {
  padding-left: 10px;
}
.form_d8a4a1 .innerDisabled__37f59.sansAttachButton__5f863 {
  padding-left: 16px;
}
.form_d8a4a1 .textArea_a86690,
.form_d8a4a1 .textArea_a86690 > div {
  height: fit-content;
  min-height: 64px;
}
.form_d8a4a1:not(:has(.attachButton__5f6dc)) .textArea_a86690 > div {
  left: 36px;
}
.form_d8a4a1 .form_d8a4a1 .textArea_a86690 > div {
  position: absolute;
  background: var(--background-tertiary);
  border-radius: 8px;
  left: 0;
  right: 4px;
  bottom: 0;
}
.form_d8a4a1 .buttons__7ecff {
  background: transparent;
  border-radius: 8px;
  display: contents;
}
.form_d8a4a1 .buttons__7ecff > :is(button, div) {
  background: var(--background-modifier-accent);
  max-height: 30px;
  width: 36px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.form_d8a4a1 .buttons__7ecff button[style="padding: 0px 2px; height: 100%;"] img[src="https://discord.com/assets/4c5a77a89716352686f590a6f014770c.svg"]
{
  content: url("https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=48&name=shiggy%7E1&quality=lossless");
  padding: 0 4px;
}
.form_d8a4a1 .inner__9fd0b.sansAttachButton__5f863 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  gap: 4px;
}
.form_d8a4a1 .textArea_a86690.textAreaSlate__8578d.slateContainer__1d1fd {
  grid-row: 1/3;
  grid-column: 1;
}
.separator__666aa {
  grid-row: 1/3;
  grid-column: 7;
  min-height: 64px;
  margin-left: 4px;
}
.uploadInput_aa27e8 {
  display: none;
  /*if this is deleted there will be a blank box*/
}
.innerButton__9efb8 {
  margin: 0;
}
.contents_d3ae0d .scrollableContainer_ff917f {
  margin: 12px 0 !important;
}
:is(main, section)[class^="chatContent"] .scroller__3fc84 {
  background: var(--background-tertiary);
}
.contentTitle_b6c2bb {
  padding: 0.25em 0.5em;
  text-transform: none;
  font-size: 14px;
}
.channelTextArea__648e5
  > [class*="channelTextAreaInner-"][class*="scrollableContainer-"] {
  background: var(--background-primary-alt);
  border-radius: 8px;
  margin-bottom: 1em;
}
.button__437ce:hover {
  color: var(--interactive-hover) !important;
}
:is(
    .form_d8a4a1 .textArea_a86690 > div,
    .attachWrapper_d01704,
    .form_d8a4a1 .buttons__7ecff > :is(button, div),
    .inner__178b2,
    .searchBar__5a20a
  ):is(:hover, :focus-within) {
  background: var(--background-modifier-hover);
  opacity: 1;
}
:is(main, section)[class^="chatContent"] .typing__6fd1d {
  padding-left: 20px;
  padding-bottom: 6px;
  font-weight: 1000;
}
main[class^="chatContent"] [class^="attachedBars"] {
  min-height: unset !important;
  position: relative;
  padding-bottom: 4px;
  margin: 0 8px 20px 36px !important;
  border-radius: 8px;
  z-index: 0;
}
.replyBar_ed6afc {
  background-color: transparent;
}
[class^="jumpToPresentBar"] {
  margin: 0 26px -16px 0;
  right: unset;
  background-color: unset;
}
.barButtonBase__5e4cf {
  color: var(--text-normal);
  background-color: var(--background-tertiary);
  border-radius: calc(8px / 1.5);
  padding-right: 8px;
  margin: 0px 8px 16px 0;
}
.barButtonBase__5e4cf:hover {
  background-color: var(--background-floating);
}
.newMessagesBar__8b272 {
  background: transparent;
  margin: 0 5em 0 0.25em;
  top: 96.67%;
  box-shadow: none;
}
.barButtonAlt_e800ef {
  margin-right: 45%;
}
:root :is(main, section)[class^="chatContent"] .typing__6fd1d {
  right: unset;
  left: 10px;
}
:root [class^="jumpToPresentBar"] {
  left: unset;
  right: 0;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}
.form_d8a4a1:has(.attachWrapper_d01704, .attachButton__5f6dc)
  .sansAttachButton__5f863 {
  padding-left: 32px;
}
.form_d8a4a1:not(:has(.attachWrapper_d01704, .attachButton__5f6dc))
  .sansAttachButton__5f863,
.form_d8a4a1 .innerDisabled__37f59.sansAttachButton__5f863 {
  padding-left: 0 !important;
}
.attachButton__5f6dc:not(:has(.icon__58cfe)) {
  margin-left: 0;
  padding: 0.5em;
}
.icon__58cfe {
  padding: 0;
  margin: 0 0 0 1em;
  border-radius: 8px;
  height: 30px;
  width: 36px;
  background: var(--background-modifier-accent);
  display: flex;
  justify-content: center;
}
.icon__9f010 {
  padding-top: 3px;
}
