/*
 * @name Username
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Applies a bubble to usernames that abide by role color
 * @version 1.0.8
 * @authorId 518795791318384647
 * @discord seele1306
 */

 :root {
  --enable-border: 0;
}

/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;
}

.vc-smyn-suffix::before {
  content: "| @" !important;
}

.vc-smyn-suffix::after {
  content: "" !important;
}

/* Username */
.cozy_c19a55 .header_c19a55 {
  margin-bottom: 4px;
}

.username_c19a55,
.base_b88801 .text_b88801 strong,
.name__841c8,
.mention.interactive,
[class^="repliedMessage_"] > .username_c19a55,
.member__5d473 .username_d272d6 {
  filter: brightness(1.2);
  background: var(--background-modifier-accent);
  border: calc(1px * var(--enable-border)) solid;
  /*font-weight: bold;*/
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;
}

.username_c19a55:hover,
.base_b88801 .text_b88801 strong:hover,
.name__841c8:hover,
.mention.interactive:hover,
[class^="repliedMessage_"] > .username_c19a55:hover,
.member__5d473 .username_d272d6:hover {
  text-decoration: none;
  background: var(--background-modifier-hover);
}

.username_c19a55::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}
