/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}

/* Username */
.cozy_f5c119 .header__6a14d {
  margin-bottom: 4px;
}

.contents_d3ae0d .username__0b0e7,
.base__06abc .text_eb454c strong,
.name__084dd,
.repliedMessage__636d2 > .username__0b0e7,
.member_aa4760 .username_d272d6 {
  background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
  text-shadow: 0 0 5px color-mix(in srgb, currentColor 25%, #000);
  margin-right: 4px;
  padding: 0 4px;
  border-radius: 4px;
}

.username__0b0e7::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
  text-shadow: 0 0 5px #000;
}

/* Prevent light mode from making whitenames black (visibility) */
.username__0b0e7:not([style]) {
  color: var(--brand-experiment-100);
}
