/*
 * @name Username
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Applies a bubble to usernames that abide by role color
 * @version 1.0.2
 * @authorId 518795791318384647
 * @discord seele1306
 */

/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
  content: "| @" !important;
}

.vc-smyn-suffix:after {
  content: "" !important;
}

.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;
}

/* Username */
.cozy_ec86aa .header_ec86aa {
  margin-bottom: 4px;
}

.contents_ec86aa .username_ec86aa,
.base_d7ebeb .text_d7ebeb strong,
.name_b11c5e,
.repliedMessage_ec86aa > .username_ec86aa,
.member_a31c43 .username_d272d6 {
  background: var(--background-secondary);
  text-shadow: 0 0 5px currentColor;
  margin-right: 4px;
  padding: 0 4px;
  border-radius: 4px;
}

.username_ec86aa::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
  text-shadow: 0 0 5px #000;
}

/* Prevent light mode from making whitenames black (visibility) */
.username_ec86aa:not([style]) {
  color: var(--brand-100);
}
