/*
 * @name Username
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Applies a bubble to usernames that abide by role color
 * @version 1.0.5
 * @authorId 518795791318384647
 * @discord seele1306
 */

:root {
  --enable-border: 0;
}

/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}

/* Username */
.cozy_ec86aa .header_ec86aa {
  margin-bottom: 4px;
}

/* Username */
.username_ec86aa,
.base_d7ebeb .text_d7ebeb strong,
.name_b11c5e,
.mention.interactive,
[class^="repliedMessage_"] > .username_ec86aa,
.member_a31c43 .username_d272d6 {
  filter: brightness(1.2);
  background: color-mix(in srgb, currentColor 20%, transparent);
  border: calc(1px * var(--enable-border)) solid;
  font-weight: bold;
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;

  &:hover {
    text-decoration: none;
    background: color-mix(in srgb, currentColor 40%, transparent);
  }
}

.username_ec86aa::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}
