/*
 * @name Username
 * @author SEELE1306
 * @authorLink https://github.com/SEELE1306
 * @description Applies a bubble to usernames that abide by role color
 * @version 1.0.7
 * @authorId 518795791318384647
 * @discord seele1306
 */

 :root {
  --enable-border: 0;
}

/* ShowMeYourName plugin */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;
}

.vc-smyn-suffix::before {
  content: "| @" !important;
}

.vc-smyn-suffix::after {
  content: "" !important;
}

/* Username */
.cozy_f9f2ca .header_f9f2ca {
  margin-bottom: 4px;
}

.username_f9f2ca,
.base_d7ebeb .text_d7ebeb strong,
.name_b11c5e,
.mention.interactive,
[class^="repliedMessage_"] > .username_f9f2ca,
.member_a31c43 .username_d272d6 {
  filter: brightness(1.2);
  background: var(--background-modifier-accent);
  border: calc(1px * var(--enable-border)) solid;
  /*font-weight: bold;*/
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;
}

.username_f9f2ca:hover,
.base_d7ebeb .text_d7ebeb strong:hover,
.name_b11c5e:hover,
.mention.interactive:hover,
[class^="repliedMessage_"] > .username_f9f2ca:hover,
.member_a31c43 .username_d272d6:hover {
  text-decoration: none;
  background: var(--background-modifier-hover);
}

.username_f9f2ca::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
}
