/* [[ CHANNEL LIST ]] */
:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358) .icon__67ab4,
.selected__7f4cb .layout_bb8e67,
.channel__0aef5.container-32HW5s > .interactiveSelected__689f0,
.navButtonActive__0c878 {
  background: var(--brand-experiment-50a);
}

.icon__67ab4 {
  width: 15px;
  height: 15px;
  margin: 2px 2px 0 0;
  border-radius: 4px;
  padding: 3px;
}

:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358) .icon__67ab4 {
  color: var(--interactive-active);
}

.containerDefault_ae2ea4:hover .icon__67ab4 {
  color: var(--interactive-active);
  background: var(--brand-experiment-50a);
}

[class*="unread_"] {
  display: none;
}
