/* [[ TOOLBAR HIDE ]] */
.toolbar__62fb5 {
  overflow: hidden;
  justify-content: flex-end;
  transition: all 350ms;
}

.toolbar__62fb5:where(:not(:hover)) {
  max-width: 32px;
}

.toolbar__62fb5::before {
  opacity: 0%;
  transition: opacity 150ms;
  position: absolute;
  bottom: 4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
  display: block;
  width: 32px;
}

.toolbar__62fb5:where(:not(:hover))::before {
  opacity: 100%;
  transition: opacity 1000ms;
}

.toolbar__62fb5:hover {
  transition: all 150ms;
}

.toolbar__62fb5 > div {
  transform: scaleX(0%) !important;
  opacity: 0%;
  display: flex;
  justify-content: center;
}

.toolbar__62fb5:hover > div {
  transform: scaleX(100%) !important;
  transition: opacity 300ms;
  opacity: 100%;
}

.toolbar__62fb5 > div svg {
  transition: all 0.3s ease-in-out;
}
