:root {
/* RED */
--red-100: var(--brand-experiment-100);
--red-130: var(--brand-experiment-130);
--red-160: var(--brand-experiment-160);
--red-200: var(--brand-experiment-200);
--red-230: var(--brand-experiment-230);
--red-260: var(--brand-experiment-260);
--red-300: var(--brand-experiment-300);
--red-330: var(--brand-experiment-330);
--red-345: var(--brand-experiment-330);
--red-360: var(--brand-experiment-360);
--red-400: var(--brand-experiment-400);
--red-430: var(--brand-experiment-430);
--red-460: var(--brand-experiment-460);
--red-500: var(--brand-experiment-500);
--red-530: var(--brand-experiment-530);
--red-560: var(--brand-experiment-560);
--red-600: var(--brand-experiment-600);
--red-630: var(--brand-experiment-630);
--red-645: var(--brand-experiment-645);
--red-660: var(--brand-experiment-660);
--red-700: var(--brand-experiment-700);
--red-730: var(--brand-experiment-730);
--red-760: var(--brand-experiment-760);
--red-800: var(--brand-experiment-800);
--red-830: var(--brand-experiment-830);
--red-860: var(--brand-experiment-860);
--red-900: var(--brand-experiment-900);

/* GREEN */
--green-100: var(--brand-experiment-100);
--green-130: var(--brand-experiment-130);
--green-160: var(--brand-experiment-160);
--green-200: var(--brand-experiment-200);
--green-230: var(--brand-experiment-230);
--green-260: var(--brand-experiment-260);
--green-300: var(--brand-experiment-300);
--green-330: var(--brand-experiment-330);
--green-345: var(--brand-experiment-330);
--green-360: var(--brand-experiment-360);
--green-400: var(--brand-experiment-400);
--green-430: var(--brand-experiment-430);
--green-460: var(--brand-experiment-460);
--green-500: var(--brand-experiment-500);
--green-530: var(--brand-experiment-530);
--green-560: var(--brand-experiment-560);
--green-600: var(--brand-experiment-600);
--green-630: var(--brand-experiment-630);
--green-645: var(--brand-experiment-645);
--green-660: var(--brand-experiment-660);
--green-700: var(--brand-experiment-700);
--green-730: var(--brand-experiment-730);
--green-760: var(--brand-experiment-760);
--green-800: var(--brand-experiment-800);
--green-830: var(--brand-experiment-830);
--green-860: var(--brand-experiment-860);
--green-900: var(--brand-experiment-900);

/* YELLOW */
--yellow-100: var(--brand-experiment-100);
--yellow-130: var(--brand-experiment-130);
--yellow-160: var(--brand-experiment-160);
--yellow-200: var(--brand-experiment-200);
--yellow-230: var(--brand-experiment-230);
--yellow-260: var(--brand-experiment-260);
--yellow-300: var(--brand-experiment-300);
--yellow-330: var(--brand-experiment-330);
--yellow-345: var(--brand-experiment-330);
--yellow-360: var(--brand-experiment-360);
--yellow-400: var(--brand-experiment-400);
--yellow-430: var(--brand-experiment-430);
--yellow-460: var(--brand-experiment-460);
--yellow-500: var(--brand-experiment-500);
--yellow-530: var(--brand-experiment-530);
--yellow-560: var(--brand-experiment-560);
--yellow-600: var(--brand-experiment-600);
--yellow-630: var(--brand-experiment-630);
--yellow-645: var(--brand-experiment-645);
--yellow-660: var(--brand-experiment-660);
--yellow-700: var(--brand-experiment-700);
--yellow-730: var(--brand-experiment-730);
--yellow-760: var(--brand-experiment-760);
--yellow-800: var(--brand-experiment-800);
--yellow-830: var(--brand-experiment-830);
--yellow-860: var(--brand-experiment-860);
--yellow-900: var(--brand-experiment-900);

/* ORANGE */
--orange-100: var(--brand-experiment-100);
--orange-130: var(--brand-experiment-130);
--orange-160: var(--brand-experiment-160);
--orange-200: var(--brand-experiment-200);
--orange-230: var(--brand-experiment-230);
--orange-260: var(--brand-experiment-260);
--orange-300: var(--brand-experiment-300);
--orange-330: var(--brand-experiment-330);
--orange-345: var(--brand-experiment-330);
--orange-360: var(--brand-experiment-360);
--orange-400: var(--brand-experiment-400);
--orange-430: var(--brand-experiment-430);
--orange-460: var(--brand-experiment-460);
--orange-500: var(--brand-experiment-500);
--orange-530: var(--brand-experiment-530);
--orange-560: var(--brand-experiment-560);
--orange-600: var(--brand-experiment-600);
--orange-630: var(--brand-experiment-630);
--orange-645: var(--brand-experiment-645);
--orange-660: var(--brand-experiment-660);
--orange-700: var(--brand-experiment-700);
--orange-730: var(--brand-experiment-730);
--orange-760: var(--brand-experiment-760);
--orange-800: var(--brand-experiment-800);
--orange-830: var(--brand-experiment-830);
--orange-860: var(--brand-experiment-860);
--orange-900: var(--brand-experiment-900);

/* TEAL */
--teal-100: var(--brand-experiment-100);
--teal-130: var(--brand-experiment-130);
--teal-160: var(--brand-experiment-160);
--teal-200: var(--brand-experiment-200);
--teal-230: var(--brand-experiment-230);
--teal-260: var(--brand-experiment-260);
--teal-300: var(--brand-experiment-300);
--teal-330: var(--brand-experiment-330);
--teal-345: var(--brand-experiment-330);
--teal-360: var(--brand-experiment-360);
--teal-400: var(--brand-experiment-400);
--teal-430: var(--brand-experiment-430);
--teal-460: var(--brand-experiment-460);
--teal-500: var(--brand-experiment-500);
--teal-530: var(--brand-experiment-530);
--teal-560: var(--brand-experiment-560);
--teal-600: var(--brand-experiment-600);
--teal-630: var(--brand-experiment-630);
--teal-645: var(--brand-experiment-645);
--teal-660: var(--brand-experiment-660);
--teal-700: var(--brand-experiment-700);
--teal-730: var(--brand-experiment-730);
--teal-760: var(--brand-experiment-760);
--teal-800: var(--brand-experiment-800);
--teal-830: var(--brand-experiment-830);
--teal-860: var(--brand-experiment-860);
--teal-900: var(--brand-experiment-900);

/* BLUE */
--blue-100: var(--brand-experiment-100);
--blue-130: var(--brand-experiment-130);
--blue-160: var(--brand-experiment-160);
--blue-200: var(--brand-experiment-200);
--blue-230: var(--brand-experiment-230);
--blue-260: var(--brand-experiment-260);
--blue-300: var(--brand-experiment-300);
--blue-330: var(--brand-experiment-330);
--blue-345: var(--brand-experiment-330);
--blue-360: var(--brand-experiment-360);
--blue-400: var(--brand-experiment-400);
--blue-430: var(--brand-experiment-430);
--blue-460: var(--brand-experiment-460);
--blue-500: var(--brand-experiment-500);
--blue-530: var(--brand-experiment-530);
--blue-560: var(--brand-experiment-560);
--blue-600: var(--brand-experiment-600);
--blue-630: var(--brand-experiment-630);
--blue-645: var(--brand-experiment-645);
--blue-660: var(--brand-experiment-660);
--blue-700: var(--brand-experiment-700);
--blue-730: var(--brand-experiment-730);
--blue-760: var(--brand-experiment-760);
--blue-800: var(--brand-experiment-800);
--blue-830: var(--brand-experiment-830);
--blue-860: var(--brand-experiment-860);
--blue-900: var(--brand-experiment-900);
}