/* [[ PROFILES ]] */
.customStatus__3aa7f .customStatusEmoji__00639 {
margin: 4px -12px 8px;
position: relative;
left: 50%;
float: none;
border-radius: 4px
}
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
position: relative;
left: 42.5%
}
.customStatus__3aa7f::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.customStatus__90402::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.defaultColor__77578.eyebrow_e5a66c.defaultColor__87d87.title_ef4a6d {
justify-content: center;
display: flex
}
.userPopoutInner_f545a3 {
max-height: calc(100vh - 480px)
}
.pronouns__8bcdb,
.pronouns_be950a {
text-transform: none;
color: var(--text-normal);
font-size: 16px;
font-weight: 800;
padding: 4px 6px;
margin: 4px 0 0 0;
border-radius: 4px;
max-width: 90%;
overflow: hidden;
background: linear-gradient(45deg, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
background-size: 200% 200%
}
.profileBannerPremium__9ca8f {
margin: 12px auto auto;
width: calc(100% - 24px);
height: calc(100px - 24px) !important;
min-height: 188px !important;
border-radius: 8px
}
.popoutBannerPremium__942db {
margin: 8px auto auto;
width: calc(100% - 16px) !important;
height: calc(100px - 16px) !important;
min-height: 106px !important;
border-radius: 4px
}
.scroller__83262 {
padding: 6px 12px
}
.section__6f61e>div:not(.roles__74a2b),
.userInfoText__5f822 {
padding: 8px
}
.scrollerSeparator__321f3 {
box-shadow: none
}
.section__6f61e.usernameSection__53868 {
margin-bottom: 8px
}
.container_b6b15b {
margin: 0 12px;
padding: 16px
}
.usernameSection__53868>div {
width: calc(100% - 16px)
}
.container__22d2b>div {
width: 100%
}
.section__6f61e>div:not(.activity__20c1e, .roles__74a2b),
.memberSinceContainer__0a28b,
.userInfoText__5f822,
.container_b6b15b,
.nameTag__7814f,
img[class*=emoji_] {
justify-content: center;
text-align: center
}
.section__6f61e>div:not(.roles__74a2b), 
.mutualGuildsList__6e961, 
.mutualFriendsList__632b5,
.container_b6b15b,
.userInfoText__5f822 {
background: var(--profile-body-background-color);
border-radius: 4px
}
/* remove border in modal connections */
.userInfoSection__1daf8+.userInfoSection__1daf8 {
border-top: none
}
/* fix badge list height */
.profileBadges__7a7cb.container__5bda1 {
min-height: fit-content;
margin-right: 10px
}
:is(.userPopoutInner_f545a3, .userInfoText__5f822) .blockquoteContainer_f24d1f {
justify-content: center
}
.userPopoutInner_f545a3 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_a65714 {
background: var(--background-modifier-accent);
color: var(--text-link);
font-weight: bold;
padding: 0 4px;
border-radius: 4px
}
:is(.userPopoutInner_f545a3 .markup_a7e664 a, .userInfoText-2MFCmH.markup_a7e664 a, .timestamp_a65714):hover {
background: var(--background-modifier-hover);
text-decoration: none
}
.tabBarContainer__63f55 {
margin: 20px 0 0
}
.tabBar__35f81 {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
row-gap: 8px;
column-gap: 8px;
margin-bottom: 16px
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda {
border: none;
background: color-mix(in srgb, var(--profile-body-background-color) 40%, transparent);
padding: 2px 0;
width: 31%;
border-radius: 4px;
text-align: center
}
.tabBarContainer__63f55,
.top__592a7 .themed_b957e8.item__48dda:hover {
border: none
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda:hover {
background: color-mix(in srgb, var(--profile-body-background-color) 70%, transparent) !important
}
.userProfileModalInner__7c87d .top__592a7 .selected__5711d.item__48dda {
background: color-mix(in srgb, var(--profile-body-background-color) 100%, transparent)
}
.tabBarItem_b56b35 {
height: fit-content
}
.divider_d66e63 {
background: var(--profile-body-divider-color)
}
.platformIcon__05c5e {
margin: 2px 2px
}
.scroller__5a651 {
left: 12.5%
}
.userProfileOuterUnthemed__48723 .userPanelInner_eddf4c,
.root_a28985:has(.userProfileModalOuter__3fe6b) {
background: transparent !important
}
.profilePanel__12596 .userPanelInner_eddf4c {
border-radius: 8px
}
.connectedAccountContainer__23f00 {
border-width: 2px
}
.connectedAccountContainer__23f00:has(.connectedAccountOpenIcon_df549d:hover) {
background: var(--profile-body-divider-color)
}
.flowerStarContainer_d8d14b.connectedAccountVerifiedIcon_db6dbd>svg>path {
fill: var(--profile-body-divider-color);
filter: brightness(1) contrast(2)
}
:is(.userPopoutInner_f545a3, .profilePanel__12596) [class*=divider_] {
background: transparent;
border-color: transparent
}
.userInfoSection__1daf8 .eyebrow_f53856:last-child, /* Notes in profile modal */
.section__6f61e:has(.roles__74a2b:empty), /* no roles */
[class*=userPanelInner_]::before,
.lastSection__37b97, /* notes section */
.aboutMeGuildIcon_b05b69 /* Profile guild icon */
{
display: none !important
}