:root {
--hue: 249;
--saturation: 22%;
}
:root, .theme-dark {
--primary-100-hsl: var(--modular-hue) var(--modular-saturation) 97.6%;
--primary-130-hsl: var(--modular-hue) var(--modular-saturation) 95.5%;
--primary-160-hsl: var(--modular-hue) var(--modular-saturation) 92.9%;
--primary-200-hsl: var(--modular-hue) var(--modular-saturation) 90%;
--primary-230-hsl: var(--modular-hue) var(--modular-saturation) 87.1%;
--primary-260-hsl: var(--modular-hue) var(--modular-saturation) 83.7%; 
--primary-300-hsl: var(--modular-hue) var(--modular-saturation) 78.8%;
--primary-330-hsl: var(--modular-hue) var(--modular-saturation) 73.3%;
--primary-345-hsl: var(--modular-hue) var(--modular-saturation) 67.5%;
--primary-360-hsl: var(--modular-hue) var(--modular-saturation) 61.2%;
--primary-400-hsl: var(--modular-hue) var(--modular-saturation) 52.9%;
--primary-430-hsl: var(--modular-hue) var(--modular-saturation) 44.9%;
--primary-460-hsl: var(--modular-hue) var(--modular-saturation) 38%;
--primary-500-hsl: var(--modular-hue) var(--modular-saturation) 32.5%;
--primary-530-hsl: var(--modular-hue) var(--modular-saturation) 27.3%;
--primary-560-hsl: var(--modular-hue) var(--modular-saturation) 23.5%;
--primary-600-hsl: var(--modular-hue) var(--modular-saturation) 20.6%;
--primary-630-hsl: var(--modular-hue) var(--modular-saturation) 18%;
--primary-645-hsl: var(--modular-hue) var(--modular-saturation) 16.9%;
--primary-660-hsl: var(--modular-hue) var(--modular-saturation) 14.7%;
--primary-700-hsl: var(--modular-hue) var(--modular-saturation) 12.5%;
--primary-730-hsl: var(--modular-hue) var(--modular-saturation) 11%;
--primary-760-hsl: var(--modular-hue) var(--modular-saturation) 9.2%;
--primary-800-hsl: var(--modular-hue) var(--modular-saturation) 7.3%;
--primary-830-hsl: var(--modular-hue) var(--modular-saturation) 4.9%;
--primary-860-hsl: var(--modular-hue) var(--modular-saturation) 2.5%;
--primary-900-hsl: var(--modular-hue) var(--modular-saturation) 0.8%;
}