/* [[ GUILD LIST ]] */
.guilds__2b93a {
  width: 64px;
}

.listItem__48528,
.wrapper__832f2,
.svg__34dd4,
.blobContainer_c44493,
.listItem__48528 > .wrapper_b4903b + div:not([class]),
.wrapper__9916c,
.svg__34dd4 > foreignObject {
  width: 64px;
  mask: none !important;
}

.listItem__48528:not(:has(.guildSeparator__75928)),
.wrapper__9916c,
.svg__34dd4 > foreignObject {
  height: 40px;
}

.expandedFolderBackground_b1385f {
  width: 40px;
  border-radius: 4px;
}

.svg__34dd4 > foreignObject {
  transform: translateX(calc(-32px + 50%));
}

.wrapper__8436d,
.folder__17546,
.circleIconButton__05cf2 {
  margin-left: 14px;
  width: 40px;
  justify-content: start;
  border-radius: 4px !important;
  height: 40px;
}

.wrapper__8436d img,
.folderIconWrapper__11165,
.childWrapper_a6ce15,
.expandedFolderIconWrapper__324c1,
.closedFolderIconWrapper__722d5 {
  border-radius: 4px !important;
  height: 40px;
  width: 40px;
}

.svg__34dd4 {
  position: static;
}

.wrapperSimple__9e2b0 {
  border-radius: 0 !important;
}

.circleIcon_b62ef0 {
  height: 32px;
  margin-left: 0;
  width: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: calc(40px / 7);
}

.circleIconButton__05cf2.selected_aded59::after,
.wrapper__8436d[data-list-item-id*="guildsnav___"].selected_ae80f7::after {
  color: var(--interactive-active);
}

.wrapper__832f2 > [id*="folder-items-"] {
  height: fit-content !important;
}

.expandedFolderBackground_b1385f {
  height: 100%;
}

.upperBadge__00ad0,
.lowerBadge_e89e22 {
  transform: translateX(-50%) !important;
}

.numberBadge__40d6f,
.iconBadge__19638 {
  border-radius: 2px;
}

.base__5ed84 {
  background: var(--brand-experiment-700) !important;
  font-size: 12px;
  box-shadow: 0 0 0 1.5px var(--brand-experiment);
}

.pill__13f64,
.wrapper_b4903b:not(:last-child) {
  height: 40px !important;
  align-items: center;
  width: 3px;
  margin-left: 7px;
  background-color: var(--background-modifier-accent);
}

.wrapper_b4903b:last-child {
  width: 3px;
  align-items: center;
  border-radius: 0;
  height: 40px !important;
}

.item_f9d377 {
  max-height: 40px;
  background: var(--brand-experiment);
  border-radius: 0;
}

.blobContainer_c44493
  .wrapper__8436d[data-list-item-id*="guildsnav___"]::after {
  content: none;
}

.listItem__48528 {
  margin: 8px 0;
}

div[style="opacity: 1; height: 56px; transform: scale(1);"] {
  height: 40px !important;
}

path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  d: path(
    "m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2"
  );
}
