/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
  padding: 4px 10px;
  background: var(--brand-experiment-25a);
  color: var(--brand-experiment-300);
  border-radius: 0 4px 4px 0;
}

[class*="blockquoteDivider_"] {
  background: var(--brand-experiment-300);
}
